{% extends 'accueil.html.twig' %}

{% block title %}Edit Entree{% endblock %}

{% block body %}
    <h1>Edit Entree</h1>
     <!-- Modal -->
                                                    <div  id="iconForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel34" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h3 class="modal-title" id="myModalLabel34">Modal Title</h3>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true"><i class="ft-x font-medium-2 text-bold-700"></i></span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                {{form(form)}}

                                                               {# {{form(form)}}
                                                               {{ form_start(form) }}
                                                                    {{ form_errors(form) }}

                                                                    {{ form_row(form.nomCat) }}
                                                                    
                                                                   
                                                                {{ form_end(form) }} #} 

{#                                                                   {{form_start(form,{'attr':{'class':'class="bi bi-alt'}})}} 
 #}                                                                </div>
                                                               
                                                            </div>
                                                        </div>
                                                    </div>

 {#
    {{ include('produit/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_produit_index') }}">back to list</a>

    {{ include('produit/_delete_form.html.twig') }} #}
{% endblock %}
